{% extends "base.html" %}
{% block title %}Contact us{% endblock title %}
{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
<div class="container">
    <h1>
    
        Contact Here bro
    </h1>
    <form method="post" actions="/contact">
        {% csrf_token %}
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="name" class="form-control" id="name" name="name" placeholder="input your name">
  </div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="input your email">
  </div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Phone</label>
    <input type="number" class="form-control" id="phone" name="phone" placeholder="input your Phone">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Enter your Meesage here</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="desc"></textarea>
  </div>
  <button class="btn btn-primary">submit</button>
</form>
</div>
{% endblock body %}